# Домашнее задание

1. Порешайте задачи по python
    - http://pythontutor.ru/lessons/ifelse/problems/minimum/
    - http://pythontutor.ru/lessons/ifelse/problems/leap_year/
    - http://pythontutor.ru/lessons/for_loop/problems/factorial/
    - http://pythontutor.ru/lessons/lists/problems/even_indices/
    - чтобы считать число используйте `x = int(input())`, список -- `arr = list(map(int, input().split()))`
    - P.S. чтобы проверять решение на тестах, на сайте нужно зарегестрироваться
2. Откройте в pandas датасет `datasets/fifa-world-cup/WorldCupMatches.csv`, выполните следующие задания:
    - составьте датасет Cups, который будет содержать следующую информацию
        - год проведения
        - страну победителя
        - суммарная посещаемость (attendance)
        - сколько голов забила команда победитель
        - сколько матчев всего было сыграно
        - всего в вашем датасете должно получиться 20 строк
    - постройте график посещаемости в зависимости от года
    - постройте график посещаемости нормированный на количество матчей
    - постройте pie chart того, сколько раз каждая страна становилась победителем (вам пригодится `X.winner.unique_counts()` и `plt.pie()`)

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
matches = pd.read_csv('datasets/fifa-world-cup/WorldCupMatches.csv').dropna()

In [4]:
years = matches.Year.unique()

In [5]:
cups = pd.DataFrame(index=years, columns=('winner', 'attendance', 'winner_goal_count', 'match_count'))

In [6]:
cups

       winner attendance winner_goal_count match_count
1930.0    NaN        NaN               NaN         NaN
1934.0    NaN        NaN               NaN         NaN
1938.0    NaN        NaN               NaN         NaN
1950.0    NaN        NaN               NaN         NaN
1954.0    NaN        NaN               NaN         NaN
1958.0    NaN        NaN               NaN         NaN
1962.0    NaN        NaN               NaN         NaN
1966.0    NaN        NaN               NaN         NaN
1970.0    NaN        NaN               NaN         NaN
1974.0    NaN        NaN               NaN         NaN
1978.0    NaN        NaN               NaN         NaN
1982.0    NaN        NaN               NaN         NaN
1986.0    NaN        NaN               NaN         NaN
1990.0    NaN        NaN               NaN         NaN
1994.0    NaN        NaN               NaN         NaN
1998.0    NaN        NaN               NaN         NaN
2002.0    NaN        NaN               NaN         NaN
2006.0    NaN        NaN               NaN         NaN
2010.0    NaN        NaN               NaN         NaN
2014.0    NaN        NaN               NaN         NaN